
<div class="center jumbotron">
  <h1><%= t("static_pages.welcome") %></h1>

  <h2>
    <%= t("static_pages.this_is_home_page") %>
    <a href=<%= t("static_pages.rails_link") %>><%= t("static_pages.railstutorial") %></a>
    <%= t("static_pages.same_app") %>
  </h2>

  <%= link_to t("static_pages.signup_now"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            t("static_pages.rails_link") %>
