<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("microposts.place_holder") %>
  </div>
  <%= f.submit t("microposts.posted"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: Settings.picture_type %>
  </span>
<% end %>

<%= javascript_tag render partial: "/shared/micropost_form", formats: :js %>
